* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  margin-bottom: 20px;
}

.navbar-heading {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 10px;
  margin-top: 0px;
  color: #000;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.content-container {
  display: flex;
  justify-items: space-evenly;
}

.content-container > div {
  width: 45vw;
}

.newentry-container {
  min-width: 600px;
  width: 40%;
  margin: 1% auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255, 0.3)
}

.newentry-heading {
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
  margin-top: px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.inputarea {
  width: 100%;  
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
}

.label {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #2c3e50;
  margin-bottom: 5px;
  display: block;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.toplabel{
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #2c3e50;
  margin-bottom: 5px;
  display: block;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

input, select{
  width: 100%;
  padding: 10px;
  margin-bottom: 2px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #2c3e50;
}

input:focus,
select:focus{
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  outline: none;
}

.create{
  margin-left: 20px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.create > div > a {
  text-decoration: none;
  color: inherit;
}

.create:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.create:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.searchbar-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.searchbar-form {
  position: relative;
  width: 90vw;
  max-width: 600px;
}

.edit-search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.edit-search-container > div {
  display: flex;
  flex-direction: column;
}

.edit-search-result-container {
  position: absolute;
  top: 100%;  
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px; 
  z-index: 1;
}

.edit-search-result-container .links {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.edit-search-result-container .links:hover {
  background-color: #f8f9fa;
}

.edit-search-result-container .links *{
  width: 33.33%;
  padding: 10px;
}




.searchbar {
  border-radius: 20px;
  height: 40px;
  width: 100%;
  padding-left: 30px;
  padding-right: 45px;
  font-size: 20px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
}

.search-button {
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.item-container, .item-list-container {
  display: grid;
  grid-template-columns: 7vw 10vw 7vw 15vw 16vw 20vw 10vw 7vw;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffffcb;
  align-items: center;
  margin-bottom: 0px;
  text-align: center;
}

.item-container {
  margin-top: 15px;
}

.boxes, .iboxes {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.boxes {
  background-color: #2eb2ff;
  color: white;
  font-weight: bold;
}

.iboxes {
  background-color: #f8f9fa;
}

.links {
  text-decoration: none;
  color: inherit;
}

.links:hover .iboxes {
  background-color: #d0f0c0;
  border-color: #97d497;
}

.list-container {
  max-height: 52vh;
  overflow-y: auto;
}

.footer {
  color: black;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  clear: both;
}

.footer a {
  color: #fe7200;
  text-decoration: none;
}

.footer a:hover {
  color: #007bff;
  text-decoration: underline;
}

@media screen and (max-width: 1400px){
  .id, .roll, .date, .name, .department, .subject, .remarks, .application-document {
    font-size: 15px;
  }
}
@media screen and (max-width: 1300px){
  .id, .roll, .date, .name, .department, .subject, .remarks, .application-document {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px){
  .item-container, .item-list-container {
    grid-template-columns: 7vw 10vw 8vw 15vw 16vw 20vw 10vw 8vw;
    gap: 5px;
    padding: 5px;
  }
  .id, .roll, .date, .name, .department, .subject, .remarks, .application-document {
    font-size: 15px;
  }
}
@media screen and (max-width: 1100px){
  .boxes, .iboxes {
    padding: 8px;
  }
  .id, .roll, .date, .name, .department, .subject, .remarks, .application-document {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px){
  .boxes, .iboxes {
    padding: 5px;
  }
  .id, .roll, .date, .name, .department, .subject, .remarks, .application-document {
    font-size: 13px;
  }
}
@media screen and (max-width: 940px){
  .boxes, .iboxes {
    padding: 4px;
  }
  .id, .roll, .date, .name, .department, .subject, .remarks, .application-document {
    font-size: 12px;
  }
}
@media screen and (max-width: 850px){
  .id, .roll, .date, .name, .department, .subject, .remarks, .application-document {
    font-size: 10px;
  }
}
@media screen and (max-width: 750px){
  .id, .roll, .date, .name, .department, .subject, .remarks, .application-document {
    font-size: 9px;
  }
  .boxes, .iboxes {
    padding: 2px;
  }
}